* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0b0c;
    color: #a3b9c8;
}


.wrapper {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 3em repeat(4, 1fr) 3em;
}

/* 1 / 2 kun halv. 1 / 3 det hele. */
header {
    grid-row: 1 / 2;
     
}

.navBar {
    list-style: none;
    padding: 10px;
    text-align: right;
}

.navBar li {
    display: inline;
    padding: 10px;
}

.navBar a {
    text-decoration: none;
    color: #a3b9c8;
}

.navBar a:hover {
    text-decoration: none;
    color: #a3b9c8;
    background-color: #027353;
    border-radius: 3em;
    padding: .5em;
}

main, .frontendProjects {
    grid-row: 2 / 4;
    margin: 10px;
    border: .3em solid #a3b9c8;
    border-radius: 1.5em;
    
}

.frontendProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr ;
    /* background-image: url("../img/img3.jpg"); */
    
}



.frontendProjects h1 {
    grid-column: 1 / 4;
}



.frontendProjects p {
    grid-column: 1 / 4;
}

.buttonFrontend {
    grid-column: 1 / 4;
    background-color: #a3b9c8;
    color: #0d0b0c;
    text-align: center;
    padding: 20px;
    border-radius: 3em;
    margin: 3em;
    text-decoration: none;
}

.buttonFrontend:hover {
    grid-column: 1 / 4;
    background-color: #a3b9c8;
    color: #0d0b0c;
    text-align: center;
    padding: 20px;
    border-radius: 3em;
    margin: 3em;
    text-decoration: none;
    background-color: #027353;
}



main, .backendProjects {
    grid-row: 4 / 6;
    margin: 10px;
    border: .3em solid #a3b9c8;
    border-radius: 1.5em;
    
}

.backendProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr ;
}

.backendProjects h1 {
    grid-column: 1 / 4;
}



.backendProjects p {
    grid-column: 1 / 4;
}

.buttonBackend {
    grid-column: 1 / 4;
    background-color: #a3b9c8;
    color: #0d0b0c;
    text-align: center;
    padding: 20px;
    border-radius: 3em;
    margin: 3em;
    text-decoration: none;
}

.buttonBackend:hover {
    grid-column: 1 / 4;
    background-color: #a3b9c8;
    color: #0d0b0c;
    text-align: center;
    padding: 20px;
    border-radius: 3em;
    margin: 3em;
    text-decoration: none;
    background-color: #027353;
}


footer {
    grid-row: 6 / 7;
    
    
}


@media screen and (min-width: 600px) {
    .wrapper {
        display: grid;
        height: 100vh;

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2.5em repeat(4, 1fr) 2.5em;
    }

    header {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
    }

    .frontendProjects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row: 2 / 6;
        grid-column: 1 / 4;
        border: .3em solid #a3b9c8;
        border-radius: 1.5em;
    }

    .frontendProjects h1 {
        grid-column: 1 / 5;
        text-align: center;
    }

    .frontendProjects p {
        text-align: center;
        grid-column: 2 / 4;
    }

    .frontendProjects .buttonFrontend {
        grid-column: 2 / 4;
    }

    .backendProjects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row: 2 / 6;
        grid-column: 4 / 7;
        border: .3em solid #a3b9c8;
        border-radius: 1.5em;
    }

    .backendProjects h1 {
        grid-column: 1 / 5;
        text-align: center;
    }

    .backendProjects p {
        text-align: center;
        grid-column: 2 / 4;
    }

    .backendProjects .buttonBackend {
        grid-column: 2 / 4;
    }

    footer {
        grid-column: 1 / 7;
        grid-row: 6 / 7;
    }
}