body {
    background-color: cadetblue;
    color: white;
}



/* Mobile first css */

@media only screen and (max-width: 600px) {
    body {
        background-color: crimson;
        color: white;
        margin: 0;
        padding: 0;
    }

    .wrapper {
        display: grid;
        height: 100vh;
        grid-template-rows: 40px repeat(4, 1fr) 40px;
        grid-template-columns: 1fr;
        gap: 5px;
        
        
    }

    header {
        display: grid;
        justify-self: center;
        align-content: center;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        border: 5px solid green;
        border-radius: 2em;
        margin: 10px;
        padding: 10px;
    }

    .mainPortrait {
        grid-column: 1 / 2;
        width: 90%;
        border-radius: 2em;
        padding: 10px;
    }

    .cardOneText {
        margin: 0;
        padding: 0;
        grid-column: 2 / 3;
        justify-self: center;
        text-align: center;
    }


}