body {
    margin: 0;
    padding: 0;
}

.underDevelopmentL {
    background-color: crimson;
    text-align: center;
}

.wrapperL {
    display: grid;
    height: 100vh;
}


.wrapperSM {
    display: none;
}


/* Mobile first css */

@media only screen and (max-width: 600px) {
    body {
        background-color: #0d0b0c;
        color: #a3b9c8;
        margin: 0;
        padding: 0;
    }

    .underDevelopmentL {
        display: none;
    }

    .wrapperL {
        display: none;
    }

    .wrapperSM {
        display: grid;
        height: 100vh;
        grid-template-rows: 40px repeat(4, 1fr) 40px;
        grid-template-columns: 1fr;
        gap: 5px;
        
        
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headerPicture {
        width: 40px; 
        margin-left: 10px;
        border-radius: 50%;
        
        
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        border: 3px solid #a3b9c8;
        border-radius: 1em;
        margin: 10px;
        padding: 10px;
    }

    .buttonSM {
        background-color: #a3b9c8;
        color: #0d0b0c;
        justify-self: center;
        padding: 15px 40%;
        text-decoration: none;
    }

    .mainPortrait {
        grid-column: 1 / 2;
        width: 70%;
        
        border-radius: 2em;
        padding: 10px;
    }

    .cardOneText {
        margin: 0;
        padding: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-self: center;
        text-align: center;
    }
    .underDevelopment {
        justify-self: center;
        
    }

    .cardHeaderSM {
        grid-column: 1 / 3;
    }

    .myProjectTextSM {
        grid-column: 1 / 3;
    }

    .myAboutMeTextSM {
        grid-column: 1 / 3;
    }

    .buttonSM {
        grid-column: 1 / 3;
    }

    .footerSM {
        display: flex;
        
        padding: 10px;        
        justify-self: center;
        grid-row: 6 / 7;
    }

    .footerSM li {
        list-style: none;
    }

    .footerSM a {
        padding: 10px;
        text-decoration: none;
        color: #a3b9c8;
    }

    .footerSM a:hover {
        padding: 10px;
        text-decoration: none;
        color: #027353;
    }


}